<!doctype html>
<html lang="en">
  <head>
    <link href="/public/styles/main.css" rel="stylesheet" />
    <!-- Allow any inheriting page to set page title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Gets HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <div class="flex flex-col dark:bg-black min-h-screen px-4 py-4">
      <!-- Header -->
      <div
        class="flex flex-row justify-between dark:text-white items-center pb-4"
      >
        <a
          class="max-h-[20px] flex flex-row items-center font-bold space-x-2"
          href="/"
        >
          <img src="/favicon.ico" />
          <p class="text-2xl">SeekQL</p>
        </a>
        <div class="flex flex-row items-center space-x-4">
          <a href="register">Sign Up</a>
          <a href="login">Login</a>
        </div>
      </div>
      <!-- Content -->
      <div id="content">
        <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
