<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}SeekQL | Login{% endblock %}
{% block content %}

<div class="flex flex-col items-center">
  <p class="dark:text-white">You're one step closer to free SQL practice!</p>
  <form
    class="flex flex-col space-y-2 bg-layer-one-light dark:bg-layer-one-dark m-4 p-4 rounded-xl"
    action="post"
  >
    <label for="email" class="dark:text-white">Enter your email</label>
    <input
      name="email"
      placeholder="email"
      type="email"
      class="dark:bg-black rounded-lg"
    />
    <label for="password" class="dark:text-white">Create a password</label>
    <input
      name="password"
      placeholder="password"
      type="password"
      class="dark:bg-black rounded-lg"
    />
    <label for="password_confirmation" class="dark:text-white"
      >Confirm your password</label
    >
    <input
      name="password_confirmation"
      placeholder="confirm password"
      type="password"
      class="dark:bg-black rounded-lg"
    />
    <button class="bg-blue-400 rounded-lg py-2 mt-1 text-white">Submit</button>
  </form>
</div>

{% endblock %}
